<!DOCTYPE html>
<html lang="sk"> 
  <head>
    <meta charset="utf-8"/>
    <title>A document with a short head</title>
  </head>

<h1 class="header">
    Zadajte svoje osobné údaje a zvoľte si čas vašej návštevy.
</h1>
<div class="container">
    <form #appointmentForm="ngForm">
        <div class="row">
            <p class="col-md">
                <mat-form-field appearance="outline" class="input-area">
                    <mat-label>Meno</mat-label>
                    <input matInput [(ngModel)] = "firstName" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
            </p>
            <p class="col-md">
                <mat-form-field appearance="outline" class="input-area">
                    <mat-label>Priezvisko</mat-label>
                    <input matInput [(ngModel)] = "lastName" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
            </p>
        </div>
    
        <div class="row">
            <p class="col-md">
                <mat-form-field appearance="outline" class="input-area">
                    <mat-label>Dátum narodenia</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)] = "dateOfBirth" [ngModelOptions]="{standalone: true}"> 
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </p>
        </div>
    
        <div class="row">
            
            <p class="col-md">
                <mat-form-field appearance="outline" class="input-area">
                  <mat-label>Telefónne číslo</mat-label>
                  <input matInput placeholder="Placeholder" [(ngModel)] = "phoneNumber" [ngModelOptions]="{standalone: true}">
                  <mat-hint>Zadajte aj predvoľbu</mat-hint>
                </mat-form-field>
            </p>
    
            <p class="col-md">
                <mat-form-field appearance="outline" class="input-area">
                    <mat-label>Vložte svoj email</mat-label>
                    <input matInput placeholder="martinko@priklad.sk" [(ngModel)] = "email" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
            </p>
        </div>
    
        <div class="row">
            <p class="col-md">
                <mat-form-field appearance="outline" class="input-area">
                    <mat-label>V krátkosti popíšte svoje ťažkosti alebo dôvod vašej návštevy</mat-label>
                    <textarea matInput [(ngModel)] = "descIllness" [ngModelOptions]="{standalone: true}"></textarea>
                  </mat-form-field>
            </p>
        </div>
    </form>
    <div class="button">
        <button mat-raised-button color="warn" (click)="this.addAppointment()">Rezervuj</button>
    </div>
    
</div>
</html>
  