<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>account_circle</mat-icon>
        <span> {{ data.first_name }} {{data.last_name}} </span>
      </mat-panel-title>
      <mat-panel-description>
        {{ data.date_of_birth | date: "shortTime" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- <mat-form-field>
      <input
        matInput
        placeholder="Čaká od"
        [value]="data.since | date: 'shortTime'"
        readonly
      />
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Dôvod návštevy"
        [value]="data.condition.name"
        readonly
      />
    </mat-form-field> -->
    <!-- <mat-form-field>
      <input
        matInput
        placeholder="Predpokladaná doba návštevy [minúty]"
        type="number"
        [value]="data.estimatedDurationMinutes"
        readonly
      />
    </mat-form-field> -->
    <mat-action-row>
      <button mat-button (click)="delete.next(data)">Odstrániť záznam</button>
    </mat-action-row>
  </mat-expansion-panel>
  